.clioHeroContainer {
  background-color: #e6d1cf;
}

.clioHero {
  height: 700px;
  display: flex;
  max-width: 1200px;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #e6d1cf;
  color: #f01f05;
  margin: 0 auto;
}
