/* Style for the Contact Us section */
#contact {
  /* background-color: #f9f9f9; */

  border-radius: 5px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  text-align: left;

  /* padding: 30px; */
}

.outerContactHeader {
  /* background-color: #ff000060; */
}

.contactHeaderContainer {
  display: flex;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
  padding-bottom: 50px;
}
.contactText {
  width: 50%;
}

.officeImageLocation {
  width: 50%;
  height: 450px;
  overflow: hidden;
  /* margin-bottom: 100px; */
  border-radius: 8px;
  object-fit: cover;
  display: flex;
  /* justify-content: flex-end; */
  /* align-items: flex-end; */
}

.contactText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* padding-right: 30px; */
  margin-right: 30px;
}

.officeImageLocation img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}
#contact h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

#contact p {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

/* Style for contact information boxes */
.contact-info {
  margin-bottom: 20px;
}

.contact-info h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 5px;
}

.contact-info p {
  font-size: 16px;
  color: #555;
}

.contact-info a {
  text-decoration: none;
  color: #007bff;
}

.contact-info a:hover {
  text-decoration: underline;
  color: #0056b3;
}

/* Style for social media links */
.contact-info ul {
  list-style: none;
  padding: 0;
}

.contact-info ul li {
  margin-bottom: 5px;
}

.contact-info ul li a {
  text-decoration: none;
  color: #007bff;
}

.contact-info ul li a:hover {
  text-decoration: underline;
  color: #0056b3;
}

.ContactContentInfo {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

@media (max-width: 1000px) {
  .contactHeaderContainer {
    flex-direction: column-reverse;
  }

  .officeImageLocation {
    width: 100%;
  }

  .contactText {
    width: 100%;
  }
}
