.mainHeroContainerBackground {
  background-color: black;
}

.mainHeroContainer {
  /* background-color: black; */
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 200px 0;
}

.mainHero {
  /* height: 700px; */
  display: flex;
  flex-direction: column;
  /* max-width: 1200px; */
  text-align: left;
  align-items: center;
  justify-content: left;
  background-color: black;
  color: #f01f05;
  /* margin: 0 auto; */
  font-size: 2rem;
  align-items: flex-start;
  justify-content: center;
  font-family: "Inter", sans-serif;
  /* width: 50%; */
  display: flex;
}

.rightSideHero {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageContainerMain {
  /* width: 50%; */
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
}

.imageContainerMain img {
  width: 100%;
}

/* .mainHero h1 {
  text-align: center;
  align-items: center;
  justify-content: center;
} */

.mainHero h1 {
  margin: 0;
}

.mainHero h4 {
  font-size: 1.3rem;
  padding: 20px 0;
  margin: 0;
}

/* Style the form container */
.form-container {
  position: relative;
  width: 300px; /* Adjust the width as needed */
  /* margin: 0 auto; Center the form horizontally */
}

/* Style the email input field */
#email {
  width: 100%;
  padding: 10px 12px;
  font-size: 16px;
  border: 1px solid #e4e6f9;
  border-radius: 20px;
  height: 1.5rem;
}
#email::placeholder {
  color: #a39696; /* Adjust the color to make it lighter */
  font-family: "Inter", sans-serif;
}

/* Style the submit button */
#submit {
  position: absolute;
  top: 10px;
  right: -20px;
  background-color: #f01f05;
  color: #fff;
  padding: 9px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}

.submit-button-container {
  margin-top: 20px;
}

.submit {
  background-color: #f01f05;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}
.submit p {
  color: #fff;
  /* padding: 9px 20px; */
  padding: 1px 20px;
  font-size: 1rem;
  border: none;
}
@media (max-width: 1200px) {
  .mainHero {
    padding-left: 20px;
  }
}

.mainContent {
  padding: 100px 0;
}

.mainContent h2 {
  padding-bottom: 50px;
  font-size: 2.3rem;
}

.listofBenefits {
  max-width: 1200px;
  margin: 0 auto;
}

.listofBenefits ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
}

.listofBenefits ul li {
  list-style: none;
  width: 250px;
  padding-bottom: 20px;
}

.icon {
  font-size: 2em;
}

@media (max-width: 1200px) {
  .mainHeroContainer {
    flex-direction: column;
  }

  .mainHero {
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;
    align-items: center;
  }
  .mainHero br {
    display: none;
  }
  .rightSideHero {
    padding-top: 100px;
    width: 100%;
  }
  .imageContainerMain {
    width: 80%;
  }
}

@media (max-width: 1080px) {
  .listofBenefits ul li {
    width: 300px;
  }
}

@media (max-width: 630px) {
  .mainHero h1 {
    font-size: 2.5rem;
  }
  .mainHero h4 {
    font-size: 1rem;
  }
  .form-container {
    width: 80%;
    right: 20px;
  }
}
