@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  display: flex;
  margin: 20px 20px 20px 60px;
  margin: 0px auto;
  gap: 10px;
  align-items: center;
  max-width: 1200px;
  justify-content: space-between;
  padding: 0px 30px;
  padding-bottom: 0;
}
nav h1 {
  margin-right: auto;
}

nav a {
  color: #333;
  padding: 4px 10px;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

nav a.active {
  color: #ff442f;
  /* background: #333; */
  text-decoration: none;
}
nav img {
  width: 100px;
}

/* nav div {
  padding-top: 20px;
} */

/* .footerContainer {
  position: fixed; 
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8; 
  padding: 10px; 
  text-align: center; 
} */

/* Reset default margin and padding */
/* body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
} */

.footerContainer {
  background-color: black;
}

footer {
  display: flex;
  align-items: center;
  gap: 15px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

footer a,
footer p {
  text-decoration: none;
  color: #f01f05; /* Set your desired link color */
  margin: 0 10px; /* Add margin to separate links */
  font-weight: bold;
}

footer a:hover {
  color: #ff442f;
}
